
.bg{
  background-image: url('../../assets/images/bg.jpg');
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
}

.container{
  width: 80%;
  margin: 0 auto;
  padding: 24px 12px;
}

.logo{
  margin-bottom: 24px;
  a{
    display: block;
    background-image: url('../../assets/images/logoSmall.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 178px;
    height: 34px;
    margin: 0 auto;
    @include media-breakpoint-up(md) {
      background-image: url(../../assets/images/logoBig.png);
      width: 439px;
      height: 105px;
    }
  }
}

.content-container{
  padding: 16px 12px;
  margin-bottom: 16px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 0 3px $warning, 0 0 0 8px #fffcef, 0 2px 20px 0 rgba(0,0,0,0.15);
  height: calc(100vh - 174px);
  @include media-breakpoint-up(md) {
    padding: 40px;
    margin-bottom: 50px;
    height: 600px;
  }
}

.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  margin-bottom: 8px;
  @include media-breakpoint-up(md) {
    margin-bottom: 20px;
  }
  .active {
    background-color: $warning;
  }
  a{
    display: block;
    color: $body;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 28%;

    border: 2px solid $body;
    box-shadow: 0 1px 0 0 $body;
    border-radius: 4px;
    @include media-breakpoint-up(md) {
      width: 12.6%;
    }
    &:hover{
      background-color: $warning;
    }
  }
}